# lon-pe-01: generated IPv4 teaching candidate, SR Linux 24.10; NOT runtime validated.
set / system name host-name lon-pe-01
set / network-instance default type default
set / network-instance default admin-state enable
set / interface system0 admin-state enable
set / interface system0 subinterface 0 admin-state enable
set / interface system0 subinterface 0 ipv4 admin-state enable
set / interface system0 subinterface 0 ipv4 address 10.255.0.23/32
set / network-instance default interface system0.0
set / interface ethernet-1/1 admin-state enable
set / interface ethernet-1/1 subinterface 0 admin-state enable
set / interface ethernet-1/1 subinterface 0 ipv4 admin-state enable
set / interface ethernet-1/1 subinterface 0 ipv4 address 10.254.1.4/31
set / network-instance default interface ethernet-1/1.0
set / interface ethernet-1/2 admin-state enable
set / interface ethernet-1/2 subinterface 0 admin-state enable
set / interface ethernet-1/2 subinterface 0 ipv4 admin-state enable
set / interface ethernet-1/2 subinterface 0 ipv4 address 192.0.2.4/31
set / network-instance default interface ethernet-1/2.0
set / network-instance default protocols isis instance core admin-state enable
set / network-instance default protocols isis instance core net [ 49.0001.0000.0000.0023.00 ]
set / network-instance default protocols isis instance core level-capability L2
set / network-instance default protocols isis instance core ipv4-unicast admin-state enable
set / network-instance default protocols isis instance core ipv6-unicast admin-state disable
set / network-instance default protocols isis instance core interface system0.0 passive true
set / network-instance default protocols isis instance core interface ethernet-1/1.0 circuit-type point-to-point
set / network-instance default protocols isis instance core interface ethernet-1/1.0 ipv4-unicast admin-state enable
set / routing-policy community-set TAG-CUSTOMER member [ 64500:1000 ]
set / routing-policy community-set TAG-PEER member [ 64500:2000 ]
set / routing-policy community-set TAG-TRANSIT member [ 64500:3000 ]
set / routing-policy community-set LOCAL-CLASS member [ 64500:1000 64500:2000 64500:3000 ]
set / routing-policy prefix-set IBGP-IN prefix 0.0.0.0/0 mask-length-range exact
set / routing-policy prefix-set IBGP-IN prefix 198.18.0.0/17 mask-length-range exact
set / routing-policy prefix-set IBGP-IN prefix 198.18.128.0/17 mask-length-range exact
set / routing-policy prefix-set IBGP-IN prefix 198.19.0.0/17 mask-length-range exact
set / routing-policy prefix-set IBGP-IN prefix 198.19.128.0/17 mask-length-range exact
set / routing-policy prefix-set IBGP-IN prefix 198.51.100.128/25 mask-length-range exact
set / routing-policy prefix-set IBGP-IN prefix 203.0.113.0/24 mask-length-range exact
set / routing-policy prefix-set IBGP-IN prefix 100.64.0.0/24 mask-length-range exact
set / routing-policy policy IBGP-IN statement 10 match prefix-set IBGP-IN
set / routing-policy policy IBGP-IN statement 10 match protocol bgp
set / routing-policy policy IBGP-IN statement 10 action policy-result accept
set / routing-policy policy IBGP-IN default-action policy-result reject
set / routing-policy prefix-set IBGP-OUT prefix 0.0.0.0/0 mask-length-range exact
set / routing-policy prefix-set IBGP-OUT prefix 198.18.0.0/17 mask-length-range exact
set / routing-policy prefix-set IBGP-OUT prefix 198.18.128.0/17 mask-length-range exact
set / routing-policy prefix-set IBGP-OUT prefix 198.19.0.0/17 mask-length-range exact
set / routing-policy prefix-set IBGP-OUT prefix 198.19.128.0/17 mask-length-range exact
set / routing-policy prefix-set IBGP-OUT prefix 198.51.100.128/25 mask-length-range exact
set / routing-policy prefix-set IBGP-OUT prefix 203.0.113.0/24 mask-length-range exact
set / routing-policy prefix-set IBGP-OUT prefix 100.64.0.0/24 mask-length-range exact
set / routing-policy policy IBGP-OUT statement 10 match prefix-set IBGP-OUT
set / routing-policy policy IBGP-OUT statement 10 match protocol bgp
set / routing-policy policy IBGP-OUT statement 10 action policy-result accept
set / routing-policy policy IBGP-OUT statement 10 action bgp next-hop set self
set / routing-policy policy IBGP-OUT default-action policy-result reject
set / routing-policy prefix-set TO-UPSTREAM prefix 203.0.113.0/24 mask-length-range exact
set / routing-policy policy TO-UPSTREAM statement 10 match prefix-set TO-UPSTREAM
set / routing-policy policy TO-UPSTREAM statement 10 match protocol bgp
set / routing-policy policy TO-UPSTREAM statement 10 match bgp community-set TAG-CUSTOMER
set / routing-policy policy TO-UPSTREAM statement 10 action policy-result accept
set / routing-policy policy TO-UPSTREAM default-action policy-result reject
set / routing-policy prefix-set TO-CUSTOMER prefix 0.0.0.0/0 mask-length-range exact
set / routing-policy prefix-set TO-CUSTOMER prefix 198.18.0.0/17 mask-length-range exact
set / routing-policy prefix-set TO-CUSTOMER prefix 198.18.128.0/17 mask-length-range exact
set / routing-policy prefix-set TO-CUSTOMER prefix 198.19.0.0/17 mask-length-range exact
set / routing-policy prefix-set TO-CUSTOMER prefix 198.19.128.0/17 mask-length-range exact
set / routing-policy prefix-set TO-CUSTOMER prefix 198.51.100.128/25 mask-length-range exact
set / routing-policy prefix-set TO-CUSTOMER prefix 203.0.113.0/24 mask-length-range exact
set / routing-policy policy TO-CUSTOMER statement 10 match prefix-set TO-CUSTOMER
set / routing-policy policy TO-CUSTOMER statement 10 match protocol bgp
set / routing-policy policy TO-CUSTOMER statement 10 action policy-result accept
set / routing-policy policy TO-CUSTOMER default-action policy-result reject
set / network-instance default protocols bgp admin-state enable
set / network-instance default protocols bgp autonomous-system 64500
set / network-instance default protocols bgp router-id 10.255.0.23
set / network-instance default protocols bgp afi-safi ipv4-unicast admin-state enable
set / network-instance default protocols bgp group IBGP peer-as 64500
set / network-instance default protocols bgp group IBGP transport local-address 10.255.0.23
set / network-instance default protocols bgp group IBGP import-policy [ IBGP-IN ]
set / network-instance default protocols bgp group IBGP export-policy [ IBGP-OUT ]
set / network-instance default protocols bgp neighbor 10.255.0.11 peer-group IBGP
set / network-instance default protocols bgp neighbor 10.255.0.12 peer-group IBGP
set / network-instance default protocols bgp neighbor 10.255.0.13 peer-group IBGP
set / network-instance default protocols bgp neighbor 10.255.0.14 peer-group IBGP
set / network-instance default protocols bgp neighbor 10.255.0.21 peer-group IBGP
set / network-instance default protocols bgp neighbor 10.255.0.22 peer-group IBGP
set / network-instance default protocols bgp neighbor 10.255.0.24 peer-group IBGP
set / routing-policy prefix-set FROM-64501 prefix 203.0.113.0/24 mask-length-range exact
set / routing-policy as-path-set FROM-64501 expression "^64501$"
set / routing-policy policy FROM-64501 statement 5 action bgp communities remove LOCAL-CLASS
set / routing-policy policy FROM-64501 statement 5 action policy-result next-statement
set / routing-policy policy FROM-64501 statement 10 match prefix-set FROM-64501
set / routing-policy policy FROM-64501 statement 10 match bgp as-path-set FROM-64501
set / routing-policy policy FROM-64501 statement 10 action bgp local-preference set 200
set / routing-policy policy FROM-64501 statement 10 action bgp communities add TAG-CUSTOMER
set / routing-policy policy FROM-64501 statement 10 action policy-result accept
set / routing-policy policy FROM-64501 default-action policy-result reject
set / network-instance default protocols bgp group FROM-64501 peer-as 64501
set / network-instance default protocols bgp group FROM-64501 import-policy [ FROM-64501 ]
set / network-instance default protocols bgp group FROM-64501 export-policy [ TO-CUSTOMER ]
set / network-instance default protocols bgp neighbor 192.0.2.5 peer-group FROM-64501
